*{
    margin: 0px;
    padding: 0px;
}
body{z-index: 1;}

body:before {
   content: "";
   position: absolute;
   z-index: -1;
   top: 13%;
   bottom: 0;
   left: 0;
   right: 0;
   background-image:url(../Media/UD.png);
    background-repeat: no-repeat;
    background-size: 100%;
    opacity: 0.2;
    filter:alpha(opacity=40);
    width:40%;
    margin: auto
 }
article{
    width: 100%;
    padding-bottom: 20px;
    padding-top: 20px;
    display: flex;
    flex-wrap: wrap;
    background-color: #D5DBDB;
    justify-content: center
}
.iconos{
    width: 150px;
    height: 30px; 
    text-align: center;
    color: #2471A3;
    font-size: 20px;
    text-align: center;
    margin-right: 30px;
    margin-left: 30px;
}
.iconos:hover{
    box-shadow: #000 3px 3px 11px;
    border-radius: 20px;
}
#logo{
    width: 60px;
    height: 40px;
    background-image: url(../Media/UD.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center; 
}
footer{
    width: 100%;
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
    background-color: #D5DBDB;
    margin-top: 20%;
}

.redes{
    width: 20px;
    height: 20px;
    margin: auto;
    margin-bottom: 10px;
    margin-top: 10px;
    margin-left: 35px;
    margin-right: 20px;
}
#face{
    background-image: url(../Media/facebook.png);
    background-size: cover;
}
#pajaro{
    background-image: url(../Media/twiter.png);
    background-size: cover;
}
#insta{
    background-image: url(../Media/instagram.png);
    background-size: cover;
}
#you{
    background-image: url(../Media/youtube.png);
    background-size: cover;
} 
a{
    text-decoration: none
}
#bienvenida{
    background-color: #F2F3F4;
    width: 800px;
    padding-bottom: 30px;
    padding-top: 30px;
    margin: auto;
    margin-top: 90px;
    font-size: 20px;
    padding-left: 20px;
    border: 1px;
    border-style: solid;
    border-color: #DCDCDC;
    box-shadow: gray 3px 3px 5px;
}
.fondo{
    background-color: RGBA(95, 106, 106, 0.85);
    padding-top: 70px;
    padding-bottom: 90px;
    display: none;
    position:fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.grupos{
    width: 800px;
    margin: auto;
}
.cerrar{
    width: 1025px;
    height: 15px;
    background-image: url(../Media/cancelar2.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position:right;
    margin-bottom: 15px;
}
.fotosgrandes{
    width: 810px;
    height: 50px;
    text-align: center;
    font-size: 30px;
}
.botones{
    height: 20px;
    height: 20px;
    margin-right: 10px;
}
#enlace1:target{
    display: block;
}